{% extends "base.html" %}
{% block title %}Контакти{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<ul class="breadcrumb ms-4">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i></a></li>
    <li class="breadcrumb-item active">Контакти</li>
</ul>
<div class="container-fluid mb-4 p-2 border border-2 rounded mx-auto" style="max-width: 85%">
    <h5>Зв'язатися з нами:</h5>
        <address>
        Україна, м. Дніпро<br>
        проспект Яворницького 1<br>
        тел. +38 050 361 66 55<br>
        Наш email:<br>
        <a href="mailto:handsofhelp@gmail.com">handsofhelpukraine@gmail.com</a>
    </address>
    <form action="" method="post">
        <div class="card card-edit bg-light bg-opacity-50" style="max-width: 50%">
            <div class="card-body bg-light">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <div class="card-footer text-center text-muted">
                <input class= "btn btn-primary" type="submit" value="Надіслати">
            </div>
        </div>
    </form>
</div>
{% endblock content %}