{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Пропозиція{{ offers.title }} {% endblock title %}

{% block content %}
<ul class="breadcrumb ms-4">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'offers_list' %}">ПропозиціЇ</a></li>
    <li class="breadcrumb-item active">{{ offers.title }}</li>
</ul>
<div class="card bg-light bg-opacity-50 mx-auto" style="max-width: 85%;">
    <div class="card-header">
        <span class="font-weight-bold">{{ offers.title }}</span> &middot;
        <span class="text-muted">by {{ offers.author }} |
            {{ offers.date }}</span>
    </div>
    <div class="row g-0">
        <div class="col-md-4">
            <img class="card-img-top my-4 ms-4" src="{{ offers.url_image }}" alt="Фото" style="width:30%">
        </div>
        <div class="col-md-8">
            <div class="card-body bg-light post-entry">
                <p><h6>Опис:</h6>{{ offers.body }}</p>
                <p><h6>Місто:</h6>{{ offers.location }}</p>
                <p><h6>Телефон:</h6>{{ user.phone }}</p>
            </div>
        </div>
    
    {% if user.is_authenticated and user.id == offers.author_id %}
        <div class="card-footer align-content-center p-0">
            <a class = "btn btn-primary col-md-6" href="{% url 'offers_edit' offers.pk %}">Редагувати</a>
            <a class = "btn btn-danger col-md-6" href="{% url 'offers_delete' offers.pk %}">Видалити</a>
        </div>
    {% endif %}
    </div>
</div>
</br>
<a href="{% url 'offers_list' %}" class="btn btn-primary ms-4">До пропозицій</a>
{% endblock content %}
