{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Пропозиція{% endblock title %}

{% block content %}
<div class="card bg-light bg-opacity-50">
    <div class="card-header">
        <span class="font-weight-bold">{{ offers.title }}</span> &middot;
        <span class="text-muted">by {{ offers.author }} |
            {{ offers.date }}</span>
    </div>
    <div class="card-body bg-light post-entry">
        <p>{{ offers.body }}</p>
        <p>{{ offers.location }}</p>
        <p>{{ offers.url_image }}</p>
        <p>{{ user.phone }}</p>
    </div>
    <div class="card-footer text-center text-muted">
        {% if user.is_authenticated %}
        <a class = "btn btn-primary" href="{#}">Редагувати</a> | 
        <a class = "btn btn-danger" href="{#}">Видалити</a>
        {% endif %}
    </div>
</div>
<br />

<a href="{% url 'offers_list' %}" class="btn btn-primary">До пропозицій</a>
{% endblock content %}