{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Запрос{{ requests.title }} {% endblock title %}
 
{% block content %}
<ul class="breadcrumb ms-4">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'requests_list' %}">Запити</a></li>
    <li class="breadcrumb-item active">{{ requests.title }}</li>
</ul>
<div class="container-fluid mb-4 p-2 border border-2 rounded mx-auto" style="max-width: 85%">
    <h5>Видалити запит</h5>
    <h6 class="text-danger">Ви впевнені що хочете видалити запит?</h6>
    <form action="" method="post">
        {% csrf_token %}
    <div class="card bg-light bg-opacity-50">
            <div class="card-header">
                <span class="font-weight-bold">{{ requests.title }}</span> &middot;
                <span class="text-muted">by {{ requests.author }} |
                    {{ requests.date }}</span>
            </div>
            <div class="card-footer text-center text-muted">
                <input class= "btn btn-primary" type="submit" value="Підтвердити">
            </div>
        </div>
    </form>
</div>
{% endblock content %}