{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Запроси{% endblock title %}

{% block content %}
<ul class="breadcrumb ms-4">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i></a></li>
    <li class="breadcrumb-item active">Запити</li>
</ul>
<div class="mb-4">
    {% if user.is_authenticated %}
        <a href="{% url 'requests_new' %}" class="btn btn-success bi bi-clipboard-plus">
        &nbsp;Додати запит</a>
    {% endif %}
</div>
{% for requests in requests_list %}
    <div class="container-fluid mb-4 p-2 border border-2 rounded mx-auto" style="max-width: 85%">
        <div class="card card-list bg-light bg-opacity-50">
            <div class="card-header">
                <span class="font-weight-bold">{{ requests.title }}</span> &middot;
                <span class="text-muted">by {{ requests.author }} |
                    {{ requests.date }} | {{ requests.location }}</span>
            </div>
            <div class="card-body bg-light post-entry">
                <p>{{ requests.body }}</p>
            </div>
            <div class="card-footer text-center text-muted">
                <a class = "btn btn-success" href="{% url 'requests_detail' requests.pk %}">Детально</a>  
                {% if user.is_authenticated and user.id == requests.author_id or user.is_superuser%} 
                | <a class = "btn btn-primary" href="{% url 'requests_edit' requests.pk %}">Редагувати</a> | 
                <a class = "btn btn-danger" href="{% url 'requests_delete' requests.pk %}">Видалити</a> 
                {% endif %}
            </div>
        </div>
    </div> 
{% endfor %}
<div class="mb-2">
    {% if user.is_authenticated %}
    <a href="{% url 'requests_new' %}" class="btn btn-success bi bi-clipboard-plus">
        &nbsp;Додати запит</a>
    {% endif %}
</div>
{% endblock content %}